
body {
    color: #00AEEF;
    margin: 0;
}

button {
    color: #00AEEF;
    border-radius: 10px;
}

button:hover {
    background-color: #00AEEF;
    color: white;
}



.block-container {
    display: block;
    border: 2px solid #000;
    margin-bottom: 15px;
}
.inline {
    display:inline;
}
.inline-block {
    display:inline-block;
}
.flex-container {
    display: inline-flex; /* inline-flex*/
    flex-direction: row;
    flex-wrap: wrap;  /* flex-wrap: wrap */
    /* align-content: stretch; */
    justify-content: space-evenly; /* flex-start, flex-end, center */
    
}
.flex-item {
    flex-grow: 1;
}


.grid-container {
    display:grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 0px;
}
.grid-item {
    border: 2px solid #000;
}
.grid-item:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/3;
}

.portrait {
    width: 120%;
}

.navigation-container {
    width: 100%;
    height: 35px;
    border-bottom: 1px grey solid;
}
.nav-item {
    padding-top: 7px;
    border: 2px black solid;
    flex-grow: 1;
    text-align: center;
}

.home-container {
    width: 100%;
    grid-template-columns: repeat(2, 50%);
}
.home-container > .flex-item {
    border: 2px black solid;
}

.team-container {
    width: 100%;
    grid-template-columns: repeat(3, 40%);
    padding-top: 100px;
}
.team-container > div {
    border-radius: 100%;
    border: 2px black solid;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.about-container {
    width: 100%;
}

#portrait1:hover {
    background-color: #00AEEF;
}
#portrait2:hover {
    background-color: #0000FF;
}
#portrait3:hover {
    background-color: #FF00FF;
}
.team-member:hover {
    filter: opacity(20%);
}

.rounded {
    border-radius: 20%;
    border: 2px black solid;
    height: 200px;
    width: 200px;
    text-align: center;
}
.rounded:hover {
    background-color: #00AEEF;
    color: white;
}

.footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-top: 2px black solid;
    font-size: 25px;
}